@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-bg: #F2F7FA;
  --color-button: #346869;
  --color-heading: #1E141E;
  --color-text: #2A2A2A;
  --color-secondaryButton: #9DBE81;
  --color-secondary: #1C212D;
}

body {
  @apply bg-bg;
}